/*1024x768*/
* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  background-image: url('../images/Fondo.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.v2_2 {
  width: 1024px;
  height: 768px;
  opacity: 1;
  position: absolute;
  top: 15%;
  
}
.v9_152 {
  width: 558px;
  height: 593px;
  background: rgba(0,131,255,1);
  opacity: 1;
  position: absolute;
  top: 76px;
  left: 704px;
}
.v9_149 {
  width: 718px;
  height: 755px;
  background: rgba(0,131,255,1);
  opacity: 1;
  position: absolute;
  top: 684px;
  left: 564px;
  transform: rotate(-160deg);
}
.v9_147 {
  width: 688px;
  height: 753px;
  background: rgba(159,206,255,1);
  opacity: 1;
  position: absolute;
  top: 208px;
  left: 185px;
}

.v9_146 {
  width: 574px;
  height: 406px;
  background: rgba(71,255,188,1);
  opacity: 1;
  position: absolute;
  top: 553px;
  left: 55px;
  border-radius: 50%;
}

/*.name {
  color: #fff;
}
.name {
  color: #fff;
}
*/

.v6_5 {
  width: 228px;
  height: 259px;
  background: url("../images/v6_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 609px;
  overflow: hidden;
}
.v9_143 {
  width: 235px;
  height: 286px;
  background: url("../images/v9_143.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 496px;
  left: 768px;
  overflow: hidden;
}
.v9_145 {
  width: 209px;
  height: 293px;
  background: url("../images/v9_145.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 244px;
  left: 123px;
  overflow: hidden;
}
.name {
  color: #fff;
}

.btn-action {
  font-family: 'Fira Mono', monospace;
  color: #ffffff00;
  border: none;
  background-color: #0015ff00;
  border-radius: 1px;
  padding: auto;
  font-size: 18px;
  cursor: pointer;
}

#map {
  width: auto;
  height: auto;
  position: absolute;
  top: 130px;
  left: 837px;
}

#foodbt {
  width: auto;
  height: auto;
  position: absolute;
  top: 520px;
  left: 1020px;
}

#calendarbt {
  width: auto;
  height: auto;
  position: absolute;
  top: 350px;
  left: 342px;
}


.btn-action, .btn-image {
  border-radius: 5px;
}