body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("./map/MapaMain.png");

    /* Full height */
    width: 1024px;
    height: 768px; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}