* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v9_169 {
  width: 100%;
  height: 779px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v9_170 {
  width: 100%;
  height: 768px;
  background: url("../images/v9_170.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v72_113 {
  width: 93px;
  height: 38px;
  background: rgba(0,76,155,1);
  padding: 1px 6px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 290px;
  left: 429px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v65_112 {
  width: 81px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 6px;
  font-family: Cabin;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v72_116 {
  width: 56px;
  height: 26px;
  background: rgba(0,76,155,1);
  padding: 1px 5px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 377px;
  left: 516px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v72_117 {
  width: 46px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 5px;
  font-family: Cabin;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v82_124 {
  width: 56px;
  height: 26px;
  background: rgba(0,76,155,1);
  padding: 1px 5px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 377px;
  left: 516px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v82_125 {
  width: 46px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 5px;
  font-family: Cabin;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v82_121 {
  width: 81px;
  height: 26px;
  background: rgba(0,76,155,1);
  padding: 1px 2px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 400px;
  left: 309px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v82_122 {
  width: 77px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 2px;
  font-family: Cabin;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v82_118 {
  width: 35px;
  height: 14px;
  background: rgba(0,76,155,1);
  padding: 1px 7px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 530px;
  left: 429px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v82_119 {
  width: 21px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 7px;
  font-family: Cabin;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v82_130 {
  width: 91px;
  height: 16px;
  background: rgba(0,76,155,1);
  padding: 2px 26px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 552px;
  left: 166px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v82_131 {
  width: 39px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 26px;
  font-family: Cabin;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v82_132 {
  width: 118px;
  height: 26px;
  background: rgba(0,76,155,1);
  padding: 1px 3px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 604px;
  left: 282px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v82_133 {
  width: 112px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 3px;
  font-family: Cabin;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v82_134 {
  width: 95px;
  height: 16px;
  background: rgba(0,76,155,1);
  padding: 2px 5px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 709px;
  left: 260px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v82_135 {
  width: 85px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 5px;
  font-family: Cabin;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v82_136 {
  width: 61px;
  height: 14px;
  background: rgba(0,76,155,1);
  padding: 1px 5px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 707px;
  left: 374px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v82_137 {
  width: 51px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 5px;
  font-family: Cabin;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v82_138 {
  width: 85px;
  height: 16px;
  background: rgba(0,76,155,1);
  padding: 2px 6px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 625px;
  left: 453px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v82_139 {
  width: 73px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 6px;
  font-family: Cabin;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v82_140 {
  width: 83px;
  height: 26px;
  background: rgba(0,76,155,1);
  padding: 1px 4px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 522px;
  left: 541px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v82_141 {
  width: 75px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 4px;
  font-family: Cabin;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v82_142 {
  width: 57px;
  height: 26px;
  background: rgba(0,76,155,1);
  padding: 1px 5px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 445px;
  left: 567px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v82_143 {
  width: 47px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 5px;
  font-family: Cabin;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v82_152 {
  width: 51px;
  height: 26px;
  background: rgba(0,76,155,1);
  padding: 1px 3px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 328px;
  left: 681px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v82_153 {
  width: 45px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 3px;
  font-family: Cabin;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v82_144 {
  width: 57px;
  height: 16px;
  background: rgba(0,76,155,1);
  padding: 2px 4px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 412px;
  left: 628px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v82_145 {
  width: 49px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 4px;
  font-family: Cabin;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v82_146 {
  width: 39px;
  height: 14px;
  background: rgba(0,76,155,1);
  padding: 1px 3px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 474px;
  left: 659px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v82_147 {
  width: 33px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 3px;
  font-family: Cabin;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v82_148 {
  width: 84px;
  height: 22px;
  background: rgba(0,76,155,1);
  padding: 5px 8px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 601px;
  left: 613px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v82_149 {
  width: 68px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5px;
  left: 8px;
  font-family: Cabin;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v82_150 {
  width: 67px;
  height: 16px;
  background: rgba(0,76,155,1);
  padding: 1px 5px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 706px;
  left: 605px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v82_151 {
  width: 57px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 5px;
  font-family: Cabin;
  font-weight: Bold;
  font-size: 6px;
  opacity: 1;
  text-align: center;
}
.v82_128 {
  width: 66px;
  height: 16px;
  background: rgba(0,76,155,1);
  padding: 2px 4px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 471px;
  left: 352px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v82_129 {
  width: 58px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 4px;
  font-family: Cabin;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v82_126 {
  width: 55px;
  height: 16px;
  background: rgba(0,76,155,1);
  padding: 2px 7px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 380px;
  left: 423px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v82_127 {
  width: 41px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 7px;
  font-family: Cabin;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v82_154 {
  width: 49px;
  height: 14px;
  background: rgba(0,76,155,1);
  padding: 1px 7px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 322px;
  left: 745px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v82_155 {
  width: 35px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 7px;
  font-family: Cabin;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v82_160 {
  width: 46px;
  height: 14px;
  background: rgba(0,76,155,1);
  padding: 1px 7px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 292px;
  left: 870px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v82_161 {
  width: 32px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 7px;
  font-family: Cabin;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v85_14 {
  width: 49px;
  height: 14px;
  background: rgba(0,76,155,1);
  padding: 1px 7px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 230px;
  left: 735px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v85_15 {
  width: 35px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 7px;
  font-family: Cabin;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v85_16 {
  width: 52px;
  height: 14px;
  background: rgba(0,76,155,1);
  padding: 1px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 159px;
  left: 780px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v85_17 {
  width: 32px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 10px;
  font-family: Cabin;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v85_18 {
  width: 45px;
  height: 14px;
  background: rgba(0,76,155,1);
  padding: 1px 8px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 100px;
  left: 773px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v85_19 {
  width: 29px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 8px;
  font-family: Cabin;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v85_10 {
  width: 50px;
  height: 14px;
  background: rgba(0,76,155,1);
  padding: 1px 3px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 388px;
  left: 820px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v85_11 {
  width: 44px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 3px;
  font-family: Cabin;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v85_12 {
  width: 63px;
  height: 26px;
  background: rgba(0,76,155,1);
  padding: 1px 3px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 234px;
  left: 806px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v85_13 {
  width: 57px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 3px;
  font-family: Cabin;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v82_156 {
  width: 53px;
  height: 14px;
  background: rgba(0,76,155,1);
  padding: 1px 5px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 299px;
  left: 717px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v82_157 {
  width: 43px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 5px;
  font-family: Cabin;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v82_158 {
  width: 50px;
  height: 26px;
  background: rgba(0,76,155,1);
  padding: 1px 1px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 289px;
  left: 789px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v82_159 {
  width: 48px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 1px;
  font-family: Cabin;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v72_114 {
  width: 104px;
  height: 26px;
  background: rgba(0,76,155,1);
  padding: 1px 5px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 245px;
  left: 319px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v72_115 {
  width: 94px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 5px;
  font-family: Cabin;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
